body {
    font-family: "Helvetica", sans-serif;
    background-color: #000!important;
}

h1 {
    font-weight: bold;
}

.alignment {
    display: flex;
    align-items: center;
    justify-content: center;
}
